Aavin[[:space:]]-[[:space:]]Sathi[[:space:]]IWS/Aavin[[:space:]]-[[:space:]]Sathi[[:space:]]IWS.7z filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Mega/AWS[[:space:]]Set-Up[[:space:]]EXE.7z filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Mega[[:space:]]+/AWS[[:space:]]Set-Up[[:space:]]EXE.7z filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Micro/AWS[[:space:]]Set-Up[[:space:]]EXE.7z filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Mini/AWS[[:space:]]Set-Up[[:space:]]EXE.7z filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS-Micro[[:space:]]2400-V5.5.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS-Micro[[:space:]]9600-V5.4.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]2400-V5.2.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]2400-V5.5.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.1.7z filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.1.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.3KK.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.4.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]2400-V5.2.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]2400-V5.5.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.1.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.3KK.rar filter=lfs diff=lfs merge=lfs -text
AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.4.rar filter=lfs diff=lfs merge=lfs -text
Dima[[:space:]]Development/dima1.pdf filter=lfs diff=lfs merge=lfs -text
G-Cam[[:space:]]i-Matrix[[:space:]]RnD/G-Cam[[:space:]]RnD[[:space:]]Files/EZPCOpenSDK_v5.1.18_build20230808.zip filter=lfs diff=lfs merge=lfs -text
G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/bin/Release/net8.0-windows/win-x64/GCam.Windows.dll filter=lfs diff=lfs merge=lfs -text
G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/bin/Release/net8.0-windows/win-x64/tools/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/obj/Release/net8.0-windows/win-x64/GCam.Windows.dll filter=lfs diff=lfs merge=lfs -text
G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/Publish/GCam-Windows-win-x64-v1.0.5.zip filter=lfs diff=lfs merge=lfs -text
G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/Publish/win-x64/GCam.Windows.exe filter=lfs diff=lfs merge=lfs -text
G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/Publish/win-x64/tools/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/tools/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/tools/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
Kousic[[:space:]]&[[:space:]]Co[[:space:]]AWS/AI[[:space:]]Interface[[:space:]]for[[:space:]]Material[[:space:]]IDen/May[[:space:]]30[[:space:]]2026/Kousicandco.7z filter=lfs diff=lfs merge=lfs -text
Kousic[[:space:]]&[[:space:]]Co[[:space:]]AWS/AI[[:space:]]Interface[[:space:]]for[[:space:]]Material[[:space:]]IDen/May[[:space:]]30[[:space:]]2026/Material[[:space:]]AI[[:space:]]Software.7z filter=lfs diff=lfs merge=lfs -text
Kousic[[:space:]]&[[:space:]]Co[[:space:]]AWS/AI[[:space:]]Interface[[:space:]]for[[:space:]]Material[[:space:]]IDen/May[[:space:]]30[[:space:]]2026/MaterialAI.exe filter=lfs diff=lfs merge=lfs -text
Kousic[[:space:]]&[[:space:]]Co[[:space:]]AWS/AI[[:space:]]Interface[[:space:]]for[[:space:]]Material[[:space:]]IDen/May[[:space:]]30[[:space:]]2026/Material[[:space:]]AI[[:space:]]Software/MaterialAI.exe filter=lfs diff=lfs merge=lfs -text
STP[[:space:]]Automation/RealTech_iTOLL_Automation_v1.0[[:space:]](Final[[:space:]]Production)/RealTech_iTOLL_Automation_v1.0/Publish/StandaloneWinX64/RealTech_iTOLL_Automation[[:space:]](Production[[:space:]]Final).7z filter=lfs diff=lfs merge=lfs -text
STP[[:space:]]Automation/RealTech_iTOLL_Automation_v1.0[[:space:]](Final[[:space:]]Production)/RealTech_iTOLL_Automation_v1.0/Publish/StandaloneWinX64/RealTech_iTOLL_Automation[[:space:]](Production[[:space:]]Final).exe filter=lfs diff=lfs merge=lfs -text
STP[[:space:]]Automation/RealTech_STP_Automation_v0.1.59/RealTech_STP_Automation_v0.1.59_Buzzer_Off_Fix/Publish/StandaloneWinX64/RealTechSTPAutomation[[:space:]]V0.1.59[[:space:]](Final).7z filter=lfs diff=lfs merge=lfs -text
STP[[:space:]]Automation/RealTech_STP_Automation_v0.1.59/RealTech_STP_Automation_v0.1.59_Buzzer_Off_Fix/Publish/StandaloneWinX64/RealTechSTPAutomation.exe filter=lfs diff=lfs merge=lfs -text
PycharmProjects/Kousicandco.7z filter=lfs diff=lfs merge=lfs -text
PycharmProjects/Kousicandco/.venv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_common.dll filter=lfs diff=lfs merge=lfs -text
PycharmProjects/Kousicandco/build/MaterialAI/MaterialAI.pkg filter=lfs diff=lfs merge=lfs -text
PycharmProjects/Kousicandco/dist/MaterialAI.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/Aavin[[:space:]]-[[:space:]]Sathi[[:space:]]IWS/Aavin[[:space:]]-[[:space:]]Sathi[[:space:]]IWS.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Mega/AWS[[:space:]]Set-Up[[:space:]]EXE.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Mega[[:space:]]+/AWS[[:space:]]Set-Up[[:space:]]EXE.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Micro/AWS[[:space:]]Set-Up[[:space:]]EXE.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Mini/AWS[[:space:]]Set-Up[[:space:]]EXE.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS-Micro[[:space:]]2400-V5.5.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS-Micro[[:space:]]9600-V5.4.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]2400-V5.2.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]2400-V5.5.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.1.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.1.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.3KK.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/AWS[[:space:]]Software/AWS[[:space:]]Micro[[:space:]]V5(Latest)/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.4.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]2400-V5.2.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]2400-V5.5.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.1.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.3KK.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/AWS[[:space:]]_[[:space:]]i-Matrix/CGMRS[[:space:]](AWS)[[:space:]]RnD/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Works/AWS[[:space:]]Micro[[:space:]]Software[[:space:]]Test/AWS-Micro[[:space:]]9600-V5.4.rar filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/Dima[[:space:]]Development/dima1.pdf filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/G-Cam[[:space:]]i-Matrix[[:space:]]RnD/G-Cam[[:space:]]RnD[[:space:]]Files/EZPCOpenSDK_v5.1.18_build20230808.zip filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/bin/Release/net8.0-windows/win-x64/GCam.Windows.dll filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/bin/Release/net8.0-windows/win-x64/tools/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/obj/Release/net8.0-windows/win-x64/GCam.Windows.dll filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/Publish/GCam-Windows-win-x64-v1.0.5.zip filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/Publish/win-x64/GCam.Windows.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/Publish/win-x64/tools/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/tools/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/G-Cam[[:space:]]Windows[[:space:]]Development/24[[:space:]]Aug[[:space:]]2026/GCam_Windows_AI_Standalone_v1.0.5/GCam_Windows_AI_Standalone_v1.0.5/tools/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/Kousic[[:space:]]&[[:space:]]Co[[:space:]]AWS/AI[[:space:]]Interface[[:space:]]for[[:space:]]Material[[:space:]]IDen/May[[:space:]]30[[:space:]]2026/Kousicandco.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/Kousic[[:space:]]&[[:space:]]Co[[:space:]]AWS/AI[[:space:]]Interface[[:space:]]for[[:space:]]Material[[:space:]]IDen/May[[:space:]]30[[:space:]]2026/Material[[:space:]]AI[[:space:]]Software.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/Kousic[[:space:]]&[[:space:]]Co[[:space:]]AWS/AI[[:space:]]Interface[[:space:]]for[[:space:]]Material[[:space:]]IDen/May[[:space:]]30[[:space:]]2026/MaterialAI.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/Kousic[[:space:]]&[[:space:]]Co[[:space:]]AWS/AI[[:space:]]Interface[[:space:]]for[[:space:]]Material[[:space:]]IDen/May[[:space:]]30[[:space:]]2026/Material[[:space:]]AI[[:space:]]Software/MaterialAI.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/STP[[:space:]]Automation/RealTech_iTOLL_Automation_v1.0[[:space:]](Final[[:space:]]Production)/RealTech_iTOLL_Automation_v1.0/Publish/StandaloneWinX64/RealTech_iTOLL_Automation[[:space:]](Production[[:space:]]Final).7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/STP[[:space:]]Automation/RealTech_iTOLL_Automation_v1.0[[:space:]](Final[[:space:]]Production)/RealTech_iTOLL_Automation_v1.0/Publish/StandaloneWinX64/RealTech_iTOLL_Automation[[:space:]](Production[[:space:]]Final).exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/STP[[:space:]]Automation/RealTech_STP_Automation_v0.1.59/RealTech_STP_Automation_v0.1.59_Buzzer_Off_Fix/Publish/StandaloneWinX64/RealTechSTPAutomation[[:space:]]V0.1.59[[:space:]](Final).7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/STP[[:space:]]Automation/RealTech_STP_Automation_v0.1.59/RealTech_STP_Automation_v0.1.59_Buzzer_Off_Fix/Publish/StandaloneWinX64/RealTechSTPAutomation.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iTOLL[[:space:]]Automation/RealTech_STP_Automation_v0.1.59/RealTech_STP_Automation_v0.1.59_Buzzer_Off_Fix/Publish/StandaloneWinX64/RealTechSTPAutomation[[:space:]]V0.1.59[[:space:]](Final).7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iTOLL[[:space:]]Automation/RealTech_STP_Automation_v0.1.59/RealTech_STP_Automation_v0.1.59_Buzzer_Off_Fix/Publish/StandaloneWinX64/RealTechSTPAutomation.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iTOLL[[:space:]]Automation/RealTech_iTOLL_Automation_v1.0[[:space:]](Final[[:space:]]Production)/RealTech_iTOLL_Automation_v1.0/Publish/StandaloneWinX64/RealTech_iTOLL_Automation[[:space:]](Production[[:space:]]Final).7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iTOLL[[:space:]]Automation/RealTech_iTOLL_Automation_v1.0[[:space:]](Final[[:space:]]Production)/RealTech_iTOLL_Automation_v1.0/Publish/StandaloneWinX64/RealTech_iTOLL_Automation[[:space:]](Production[[:space:]]Final).exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/iAWS_Automatic_Weighing_System_v2.1_EXACT_DRAWING_UI_BRANDING_FIXED/iAWS_Automatic_Weighing_System_v2.1_EXACT_DRAWING_UI/Publish/StandaloneWinX64/iAWS.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/iAWS_Automatic_Weighing_System_v2.1_EXACT_DRAWING_UI_BRANDING_FIXED/iAWS_Automatic_Weighing_System_v2.1_EXACT_DRAWING_UI/Publish/StandaloneWinX64/iAWS.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/iAWS_Automatic_Weighing_System_v2.1_NEW_LOGO_ICON_BRANDING_FIXED/iAWS_Automatic_Weighing_System_v2.1_EXACT_DRAWING_UI_NEW_LOGO_BRANDING/Publish/StandaloneWinX64/iAWS.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/iAWS_Automatic_Weighing_System_v2.1_NEW_LOGO_ICON_BRANDING_FIXED/iAWS_Automatic_Weighing_System_v2.1_EXACT_DRAWING_UI_NEW_LOGO_BRANDING/Publish/StandaloneWinX64/iAWS.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/iAWS_Automatic_Weighing_System_v2.2_ITOLL_MENU_FUNCTIONS/iAWS_Automatic_Weighing_System_v2.2_ITOLL_MENU_FUNCTIONS/Publish/StandaloneWinX64/iAWS.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/iAWS_Automatic_Weighing_System_v2.2_ITOLL_MENU_FUNCTIONS/iAWS_Automatic_Weighing_System_v2.2_ITOLL_MENU_FUNCTIONS/Publish/StandaloneWinX64/iAWS.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_Automatic_Weighing_System_v0.1/RealTech_iAWS_Automatic_Weighing_System_v0.1/Publish/StandaloneWinX64/RealTechiAWS.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_Automatic_Weighing_System_v0.1/RealTech_iAWS_Automatic_Weighing_System_v0.1/Publish/StandaloneWinX64/RealTechiAWS.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_Automatic_Weighing_System_v0.1_Signal_Buzzer_Barrier_UI_Update/RealTech_iAWS_Automatic_Weighing_System_v0.1/Publish/StandaloneWinX64/RealTechiAWS.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_Automatic_Weighing_System_v0.1_Signal_Buzzer_Barrier_UI_Update/RealTech_iAWS_Automatic_Weighing_System_v0.1/Publish/StandaloneWinX64/RealTechiAWS.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_Automatic_Weighing_System_v0.1_UI_Fit_Fix/RealTech_iAWS_Automatic_Weighing_System_v0.1_UI_Fit_Fix/Publish/StandaloneWinX64/RealTechiAWS.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_Automatic_Weighing_System_v0.1_UI_Fit_Fix/RealTech_iAWS_Automatic_Weighing_System_v0.1_UI_Fit_Fix/Publish/StandaloneWinX64/RealTechiAWS.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_v0.1_13Inch_Display_UI/RealTech_iAWS_Automatic_Weighing_System_v0.1_13Inch_Display_UI/Publish/StandaloneWinX64/RealTechiAWS.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_v0.1_13Inch_Display_UI/RealTech_iAWS_Automatic_Weighing_System_v0.1_13Inch_Display_UI/Publish/StandaloneWinX64/RealTechiAWS.exe filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_v0.1_Status_Control_Fix/RealTech_iAWS_Automatic_Weighing_System_v0.1_Status_Control_Fix/Publish/StandaloneWinX64/RealTechiAWS.7z filter=lfs diff=lfs merge=lfs -text
R&D[[:space:]]Projects/iAWS[[:space:]]Development/iAWS[[:space:]]Mega[[:space:]]Mini/RealTech_iAWS_v0.1_Status_Control_Fix/RealTech_iAWS_Automatic_Weighing_System_v0.1_Status_Control_Fix/Publish/StandaloneWinX64/RealTechiAWS.exe filter=lfs diff=lfs merge=lfs -text
