APC Materials For Circuit:

 1). PIC18F25K22                   - 01 Nos.
 2). ULN IC                        - 02 Nos.
 3). 28 Pin IC Base                - 01 Nos.
 4). 16 Pin IC Base                - 02 Nos.
 5). 16MHz Crystal                 - 02 Nos.
 6). LM7805 Regulator              - 01 Nos.
 7). Capacitor 22pf/63V            - 02 Nos.
 8). Capacitor 100MF/63V           - 02 Nos.
 9). Capacitor 104                 - 05 Nos.
10). Relay 5V 7A                   - 10 Nos.
11). LED 3mm W/R                   - 10 Nos.
12). LED 3mm W/G                   - 02 Nos.
13). LED 3mm W/B                   - 02 Nos.
14). I2C Module (For LCD)          - 01 Nos.
15). 16x2 LCD Display              - 01 Nos.
16). RTC Module                    - 01 Nos.
17). 4G GSM Board                  - 01 Nos.
18). 10Pin RMC FE 10CM             - 01 Nos.
19). Diode 1N4007                  - 12 Nos.
20). Resistor 1/4W 4.7K            - 05 Nos.
21). Resistor 1/4W 10K             - 10 Nos.
22). Coin Battery (3.3V - For RTC) - 01 Nos.
           
 